#FTAIBotBT {
  position: fixed;
  right: 50px;
  bottom: 0px;
  width: 400px;
  height: 30px;
  border: solid;
  border-color: #029127;
  border-width: 1px;
  visibility: visible;
  background-color: #029127;
  padding: 8px 8px 0 8px;
  font-family: "Segoe UI", sans-serif;
  font-size: 15px;
  color: #ffffff;
}
#FTAIBot {
  position: fixed;
  right: 50px;
  bottom: 0px;
  width: 400px;
  height: 600px;
  border: solid;
  border-color: #029127;
  border-width: 4px;
  visibility: hidden;
}
.wc-header {
  background-color: #029127;
}
.wc-message-from-me .wc-message-content {
  background-color: #e7e0e0;
  color:#323232;
}

.wc-message-groups {
  background-color: #f8e1df;
}
.wc-console {
    border: 5px solid #c1f7b1fa;
}
.wc-message-from {
    color: #000000;
}
.wc-message-from-bot .wc-message-content {
  background-color: #D4E278;
}
.wc-app ::-webkit-scrollbar-thumb {
  background-color: #D4E278;
}

/* 追加分 */
.wc-message-from-bot svg.wc-message-callout path {
    fill: #d4e278;
}

.wc-message-from-me svg.wc-message-callout path {
    fill: #e7e0e0;
}
.wc-console .wc-textbox input {
    background-color: #FFF;
}

.wc-console .wc-mic, .wc-console .wc-send {
    background-color: #FFF;
}
.wc-console .wc-upload  {
    background-color: #FFF;
}
